
<h4 class="bg-warning m-3 p-3 text-center" *ngFor="let i of data">{{i}}</h4>


<hr>
<button (click)="getData1()" class="btn btn-primary m-2">Ob 1</button>
<button (click)="getData2()" class="btn btn-primary m-2">Ob 2</button>
<button (click)="getData3()" class="btn btn-primary m-2">Ob 3</button>
<button (click)="getData4()" class="btn btn-primary m-2">Ob 4</button>
<button (click)="getData5()" class="btn btn-primary m-2">Ob 5</button>
<button (click)="getData7()" class="btn btn-primary m-2">Ob 7</button>
<button (click)="getData8()" class="btn btn-primary m-2">Ob 8</button>